.header__container {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  border: 1px solid white;
}

.buttons__container {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    background-color: var(--color-blue);
    color: var(--color-white);
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  background-color: var(--color-grey);
  
}

.feedHeader__container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    gap: 2px;

    font-size: 12px;
  }
}

@media (min-width: 900px) {
  .header__container {
    justify-content: space-around;
    width: 53.125rem;
  }

  .feedHeader__container {
    max-width: 52.5rem;
    justify-content: space-around;
  }

}