.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
  gap: 16px;

  .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    img {
      width: 153px;
      height: 138px;
      border-radius: 25px;
      object-fit: cover;
    }
  }

  .interaction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 550px) {
  .cards {
    flex-direction: column;

    .contents {
      flex-direction: column;
      gap: 80px;

      img {
        width: 306px;
        height: 196px;
      }
    }

    .interaction {
      position: absolute;
      margin-top: 200px;
      margin-right: 0px;
      gap: 45px;
      // background-color: #dbdbdb;
      padding: 16px;
      border-radius: 255px;
    }
  }
}
