.contentPost {
  display: flex;
  flex-direction: column;
  max-width: 587px;
  gap: 1rem;
}

.containerBanner {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 587px;
  height: 254px;
  border-radius: 45px;

  .banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px;
  }
}

.noPost {
  display: flex;
  justify-content: center;
}
