.title-1 {
  font-family: var(--font-titles);
  font-weight: 700;
  line-height: 4.16rem;
  font-size: 3.25rem;
}

.title-1-mobile {
  font-family: var(--font-titles);
  font-weight: 700;
  line-height: 2.72rem;
  font-size: 2.125rem;
}

.title-2 {
  font-family: var(--font-titles);
  font-weight: 700;
  line-height: 3.52rem;
  font-size: 2rem;
}

.title-2-mobile {
  font-family: var(--font-titles);
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.875rem;
}

.title-3 {
  font-family: var(--font-titles);
  font-weight: 700;
  line-height: 1.84rem;
  font-size: 1.4375rem;
}

.title-post {
  font-family: var(--font-titles);
  font-weight: 700;
  line-height: 2.88rem;
  font-size: 2.25rem;
}

.title-post-mobile {
  font-family: var(--font-titles);
  font-weight: 700;
  line-height: 2.24rem;
  font-size: 1.75rem;
}

.paragraph {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 2.25rem;
  font-size: 1.125rem;
}

.paragraph-mobile {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 2.125rem;
  font-size: 17px;
}

.paragraph-small {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.0588rem;
  font-size: 0.875rem;
}
.font-link {
  font-family: var(--font-body);
  color: var(--color-blue);
  font-weight: 400;
  line-height: 1.0588rem;
  font-size: 0.9375rem;
}
